.levelbar {
  display:flex;

  &__container {
  height: 20px;
  width: 80%;
  background-color: #e0e0de;
  border-radius: 50px;
  
  }

  &__filler {
  height: 100%;
  background-color: green;
  border-radius: inherit;
  text-align: right;
  }

  &__label {
  padding: 5px;
  color: white;
  font-weight: bold;
  }

  &__lvl-label {
    margin-left: 1rem;
  }

  &__curr-level {
    width: 5%;
    text-align: center;
    font-weight: 700;
  }
}