@import './typography';

$primary-color-1: #1C2321; //DarkJungleGreen
$primary-color-2: #7D98A1; //PewterBlue
$primary-color-3: #5E6572; //Black Coral
$primary-color-4: #A9B4C2; //Cadet Blue Crayola
$primary-backgroun: #ddd9d6; //Cultured
$shadow: #777;
$depth-brown: #5a473a;
$light-brown: #c7bdb1;
$highlight-color: #F78A23;

$primary-font: 'Zilla Slab Highlight', cursive;
$secondary-font: 'Caveat', cursive;
$regular-font: 'IBM Plex Mono', monospace;